@model WebScrapper.Models.Response


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LabelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MDunit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalOfIngrediant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediCalDespensingFeeOf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediCalDespensingFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EqualsSubtotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomaryPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reduction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductTotal)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => modelItem.LabelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.PriceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.MDunit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Product)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.TotalOfIngrediant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.MediCalDespensingFeeOf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.MediCalDespensingFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.EqualsSubtotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.CustomaryPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.reduction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.ProductTotal)
        </td>
    </tr>

</table>
